body{
    font-size: 80px;
    margin: 0;
}

.c1{
    background-color: aquamarine;
}

.c2{
    background-color: rgb(137, 166, 156);
}

.c3{
    background-color: aquamarine;
}

div{
    float: left;
    /* pega todas as laterais */
    padding-top: 100px;
    
    /* expecifica cada lateral */
    padding: 10px 50px 100px 150px;

    /* direita e esquerda */
    padding: 100px 50px;
    border: solid 5px black;


}